/* You can add global styles to this file, and also import other style files */

//Color Pallete
$yellow-h: rgb(222, 167, 14);
$green-h: rgb(0, 110, 72);
$grey-h: rgb(117, 116, 121);
$yellow-l: rgb(246, 228, 46);
$green-l: rgb(44, 168, 110);
$grey-l: rgb(151, 149, 154);
$white: rgb(255, 255, 255);
