/* You can add global styles to this file, and also import other style files */

/*---------------------------------------------------------------------
import Fonts -
--------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900&display=swap');

/*****---------------------------------------- 1)
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/

/*---------------------------------------------------------------------
Color Pallete -
--------------------------------------------------------------------*/
$yellow-h: rgb(222, 167, 14);
$green-h: rgb(0, 110, 72);
$grey-h: rgb(117, 116, 121);
$yellow-l: rgb(246, 228, 46);
$green-l: rgb(44, 168, 110);
$grey-l: rgb(151, 149, 154);
$white: rgb(255, 255, 255);
